{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="FRICOSIPY" />
  <meta property="og:description" content="A 1-dimensional coupled surface energy balance and subsurface firn model for glacier mass balance" />
  <meta property="og:image" content="https://fricosipy.readthedocs.io/en/latest/images/Preview.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fricosipy.readthedocs.io/en/latest/" />
{% endblock %}