# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
distributed=2021.3.0
numba=0.53.1
numpy=1.19.2
pandas=1.1.5
scipy=1.5.2
sphinx=4.4.0
xarray=0.18.0
matplotlib
jupyter