/* Customised Warning admonitions */
.admonition.warning > .admonition-title {
    background-color: #f29f97 !important;  
    color: white !important;               
}
.admonition.warning {
    background-color: #fcdedb !important; 
    border-color: #f29f97 !important;     
}

/* Customised Example admonitions */
.admonition.example > .admonition-title {
    background-color: #bfbfbf !important;  
    color: white !important;               
}
.admonition.example {
    background-color: #f9f9f9 !important; 
    border-color: #bfbfbf !important;     
}

/* Global Code Styling (Greyish text) */
.rst-content code, 
.rst-content tt,
pre {
    color: #555555 !important;           /* Dark grey text */
    background-color: #f8f8f8 !important; /* Light neutral grey background */
    border: 1px solid #e1e4e5 !important;
}
