/* Customised Warning admonitions */
.admonition.warning > .admonition-title {
    background-color: #f29f97 !important;  
    color: white !important;               
}
.admonition.warning {
    background-color: #fcdedb !important; 
    border-color: #f29f97 !important;     
}

/* Customised Example admonitions */
.admonition.example > .admonition-title {
    background-color: #8b8b8b !important;  
    color: white !important;               
}
.admonition.example {
    background-color: #e3e3e3 !important; 
    border-color: #8b8b8b !important;     
}

/* Global Code Styling (Greyish text) */
.rst-content code, 
.rst-content tt,
pre {
    color: #555555;           
    background-color: #f8f8f8 !important; 
    border: 1px solid #e1e4e5 !important;
}

/* Specific Code Styling */
.styledcode-box pre {
    color: #555555 !important;              
    background-color: #f8f8f8 !important;    
    border: 1px solid #e1e4e5 !important;
    line-height: 1.6 !important;
}

/* Specific Syntax Highlighting Overrides for this box */
.styledcode-box .k, 
.styledcode-box .kn, 
.styledcode-box .kc { color: #C586B0 !important; } /* Pink: import, from, def */
.styledcode-box .nn { color: #4EC9B0 !important; } /* Teal: xarray, pandas, numpy */
.styledcode-box .n  { color: #9CDCFE !important; } /* Light Blue: SHORTWAVE, ds, ax */
.styledcode-box .nf { color: #DCDCAA !important; } /* Yellow: .sel(), .groupby(), .bar() */
.styledcode-box .s2, 
.styledcode-box .s1 { color: #CE9178 !important; } /* Orange/Brown: "time.month", "gray" */
.styledcode-box .mi, 
.styledcode-box .mf { color: #B5CEA8 !important; } /* Light Green: 0.8, 12, 6 */
.styledcode-box .c1 { color: #6A9955 !important; font-style: italic !important; } /* Green: Comments */
