/* Header & sidebar like Read the Docs */
.md-header, .md-header-nav {
    background-color: #f7f7f7;
}

.md-sidebar {
    background-color: #f7f7f7;
    border-right: 1px solid #dfe2e5;
    box-shadow: none;
}

/* Main content background */
.md-main {
    background-color: #ffffff;
}

/* Footer color */
.md-footer {
    background-color: #f7f7f7;
}

/* Font tweaks to match RTD */
.md-nav__link, .md-nav__title {
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
}